@model IEnumerable<HiNSimulator2014.Models.LocationConnection>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocationOne.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationTwo.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsLocked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequiredKeyLevel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LocationOne.LocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationTwo.LocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsLocked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequiredKeyLevel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LocationConnectionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LocationConnectionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LocationConnectionID })
        </td>
    </tr>
}

</table>
