@model IEnumerable<HiNSimulator2014.Models.ValidCommandsForArtificialPlayers>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArtificialPlayer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Command)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArtificialPlayer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Command.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ValidCommandsForArtificialPlayersID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ValidCommandsForArtificialPlayersID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ValidCommandsForArtificialPlayersID })
        </td>
    </tr>
}

</table>
