@model HiNSimulator2014.Models.ExternalLoginConfirmationViewModel

<!--Endringer utført av Pål Gerrard Gaare-Skogsrud-->

@{
    ViewBag.Title = "Registrering";
}
<h2>@ViewBag.Title.</h2>
<h3>Register with your @ViewBag.LoginProvider Account.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        You have managed to connect with your <strong>@ViewBag.LoginProvider</strong> account.
        Please fill out the remaining fields to finish registering.
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PlayerName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PlayerName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PlayerName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register account" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
