@model MockUp_Gruppe02_ITE1811.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Logg inn med Facebook eller Google.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                <a href="#"
                   class="zocial facebook">
                    Logg inn med Facebook
                </a>
                <hr /><div class="clearfix"></div>
                <a href="#"
                   class="zocial googleplus">
                    Logg inn med Google
                </a>
                <hr /><div class="clearfix"></div>
                <a href="#"
                   class="zocial twitter">
                    Logg inn med Twitter
                </a>
                <hr /><div class="clearfix"></div>
                <a href="#"
                   class="zocial linkedin">
                    Logg inn med Linkedin
                </a>
                <hr /><div class="clearfix"></div>
                <a href="#"
                   class="zocial spotify">
                    Logg inn med Spotify
                </a>
                <hr /><div class="clearfix"></div>
                <a href="#"
                   class="zocial windows">
                    Logg inn med Windows
                </a>
                <hr /><div class="clearfix"></div>
                <a href="#"
                   class="zocial eventasaurus">
                    Logg inn med Eventasaurus
                </a>

            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        <button type="submit" class="zocial @p.AuthenticationType.ToLower()" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log @p.AuthenticationType in using your @p.Caption account">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
