@model HiNSimulator2014.Models.ValidCommandsForThings

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ValidCommandsForThings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Command.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Command.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thing.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thing.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ValidCommandsForThingsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
