@{
    ViewBag.Title = "HinSimulator Admin";
}

<h2>Admin</h2>

<hr />

<ul>
    <li>@Html.ActionLink("Update Scoreboard", "UpdateScoreBoard", "Admin")</li>

    <li style="margin-top:1em">@Html.ActionLink("Images", "Index", "Images")</li> 

    <li style="margin-top:1em">@Html.ActionLink("Locations", "Index", "Locations")</li>
    <li>@Html.ActionLink("Location Connections", "Index", "LocationConnections")</li>  
    
    <li style="margin-top:1em">@Html.ActionLink("Artificial Players", "Index", "ArtificialPlayers")</li>
    <li>@Html.ActionLink("Artificial Player Responses", "Index", "ArtificialPlayerResponses")</li>
    
    <li style="margin-top:1em">@Html.ActionLink("Things", "Index", "Things")</li>

</ul>
