@{
    ViewBag.Title = "HinSimulator Admin";
}

<h2>Admin</h2>

<hr />

<ul>
    <li>@Html.ActionLink("Images", "Index", "Images")</li>

    <li>@Html.ActionLink("Commands", "Index", "Commands")</li>
    
    <li>@Html.ActionLink("Artificial Players", "Index", "ArtificialPlayers")</li>
    <li>@Html.ActionLink("Artificial Player Responses", "Index", "ArtificialPlayerResponses")</li>
    <li>@Html.ActionLink("Valid Commands For Artificial Players", "Index", "ValidCommandsForArtificialPlayers")</li>

    <li>@Html.ActionLink("Things", "Index", "Things")</li>
    <li>@Html.ActionLink("Valid Commands For Things", "Index", "ValidCommandsForThings")</li>


    <li>@Html.ActionLink("Locations", "Index", "Locations")</li>
    <li>@Html.ActionLink("Location Connections", "Index", "LocationConnections")</li>

</ul>
