@model IEnumerable<HiNSimulator2014.Models.Image>

@{
    ViewBag.Title = "Index";
}
<!--Lister opp alle bilder i databasen.
    Modifisert av Andreas Dyrøy Jansson-->
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageBlob)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ImageText)
        </td>
        <td>
            @{
                // Konverterer fra byte-array til Base64
                var base64 = Convert.ToBase64String(item.ImageBlob);
                var imgSrc = String.Format("data:" + item.MimeType + ";base64,{0}", base64);
            }           
            <!--Gjør om fra byte-array til bilde, hentet fra:
                http://stackoverflow.com/questions/17952514/mvc-how-to-display-a-byte-array-image-from-model -->
            <!-- Tips til skalering: http://stackoverflow.com/questions/787839/resize-image-proportionally-with-css -->
            <img style="height:auto; width:auto; max-width:250px; max-height:150px;" src="@imgSrc" id="@item.ImageText" alt="@item.ImageText" />
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.ImageID })
        </td>
    </tr>
}

</table>
